/*
 * Globals
 */



/*
 * Masthead for nav
 */

.header-bar {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  width: 100%;
}


/*
 * Navigation
 */


.navbar .navbar-form {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:15px;
        padding-right:0;
    }
}


.nav>li>a {
    color: white;
    padding: 13px;
  line-height: 33px;
}

.navbar-toggle .icon-bar {
    background-color: white;
}
mark {
  padding: 0;
  color: inherit ;
}

/*
 * Search box
 */

/* style the placeholder text in the search box */
#sitesearch::-webkit-input-placeholder { color: white; }
#sitesearch::-moz-placeholder { color: white; } 
#sitesearch:-ms-input-placeholder { color: white; } 
#sitesearch:-moz-placeholder { color: white; }


/* override the default styling for the box */
#sitesearch {
    color: white;
    -webkit-box-shadow: inset 0 -1px 0 white;
    box-shadow: inset 0 -1px 0 white;
}

#sitesearch:focus {
    -webkit-box-shadow: inset 0 -1px 0 white;
    box-shadow: inset 0 -1px 0 white;
}